{% extends 'index.html' %}
{% load static %}

{% block title %}
	<title>Signia Products - Home</title>
{% endblock %}


{% block content %}
    <!--Product List -->
    <section id="billboard" class="bg-light py-5">
        <div class="container">

            <div class="row justify-content-center">
                <h1 class="section-title text-center mt-4" data-aos="fade-up">Welcome to <span >Signia</span></h1>
                <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
                    <p>Get the best selectio of aesthetic electronics from Sgnia E-Store! Hurry while stocks last!</p>
                </div>
            </div>

            <div class="row">

                <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
                    <div class="swiper-wrapper d-flex border-animation-left">
                        {% for product in products %}
                            <div class="swiper-slide">

                                <div class="banner-item image-zoom-effect">

                                    <div class="image-holder">
                                        <a href="#">
                                            <img src="{{ product.image }}" alt="product" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="banner-content py-4">
                                        <h5 class="element-title text-uppercase">
                                            <a href="#" class="item-anchor">{{ product.name }}</a>
                                        </h5>
                                        <p>{{ product.description }}</p>
                                        <div class="btn-left">
                                            <a href="#new-arrival"
                                               class="btn-link fs-6 text-uppercase item-anchor text-decoration-none">Discover
                                                Now</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="icon-arrow icon-arrow-left">
                    <svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-left"></use>
                    </svg>
                </div>
                <div class="icon-arrow icon-arrow-right">
                    <svg width="50" height="50" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>

            </div>

        </div>
    </section>
    <!--End Product List -->
    
    <!--Product List II -->
    <section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
                <h4 class="text-uppercase">Our Products</h4>
                <a href="{% url 'products' %}" class="btn-link">View All Products</a>
            </div>
            <div class="swiper product-swiper open-up" data-aos="zoom-out">
                <div class="swiper-wrapper d-flex">
                    {% for product in products %}
                        <div class="swiper-slide">
                            <div class="product-item image-zoom-effect link-effect">


                                <div class="image-holder position-relative">
                                    <a href="#">
                                        <img src="{{ product.image }}" alt="categories" class="product-image img-fluid">
                                    </a>
                                    <a href="{% url 'update' product.id %}" class="btn-icon btn-wishlist" title="edit">
                                        <svg width="24" height="24" viewBox="0 0 24 24">
                                            <use xlink:href="#heart"></use>
                                        </svg>
                                    </a>
                                    <div class="product-content">
                                        <h5 class="element-title text-uppercase fs-5 mt-3">
                                            <a href="index.html">{{ product.name }}</a>
                                        </h5>
                                        <a href="{% url 'delete' product.id %}" class="text-decoration-none"
                                           data-after="DELETE"><span>{{ product.price }}</span></a>
                                    </div>
                                </div>

                            </div>
                        </div>


                    {% endfor %}

                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="icon-arrow icon-arrow-left">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </div>
            <div class="icon-arrow icon-arrow-right">
                <svg width="50" height="50" viewBox="0 0 24 24">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </div>
        </div>
    </section>
    <!--End Product List II -->


    <!-- Signia e-store Video-->
    <section class="video py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="video-content open-up" data-aos="zoom-out">
                    <div class="video-bg">
                        <img src="{% static 'images/signi-promo.png' %}" alt="video" class="video-image img-fluid ">
                    </div>
                    <div class="video-player">
                        <a class="youtube" href="https://youtu.be/YAk37lR7Vkk?si=vuLtq0BIx6iJvcon">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <use xlink:href="#play"></use>
                            </svg>
{#                            <img src="#" alt="signia" class="text-rotate">#}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Signia e-store Video-->


    <!-- Reviews-->
    <section class="testimonials py-5 bg-light">
        <div class="section-header text-center mt-5">
            <h3 class="section-title">Reviews from Esteemed Clients</h3>
        </div>
        <div class="swiper testimonial-swiper overflow-hidden my-5">
            <div class="swiper-wrapper d-flex">
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>“Electronics you can rely on”</p>
                            <div class="review-title text-uppercase">casual way TM</div>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>“Awesome electronics witha hint of long-life</p>
                            <div class="review-title text-uppercase">Electronika</div>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>“Never runs out of battery”</p>
                            <div class="review-title text-uppercase">Drakio Electro</div>
                        </blockquote>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item text-center">
                        <blockquote>
                            <p>“Best for programming</p>
                            <div class="review-title text-uppercase">Topmop</div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-swiper-pagination d-flex justify-content-center mb-5"></div>
    </section>
    <!-- End Reviews-->

{% endblock %}